/*
	COLORS http://www.99colors.net/name/tomato 
*/

@font-face {
    font-family: 'futura-round';
    src: url('../fonts/futura-round-webfont.eot');
    src: url('../fonts/futura-round-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-round-webfont.woff2') format('woff2'),
         url('../fonts/futura-round-webfont.woff') format('woff'),
         url('../fonts/futura-round-webfont.ttf') format('truetype'),
         url('../fonts/futura-round-webfont.svg#a_futuraroundbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-round';
    src: url('../fonts/dinroundpro-light.eot');
    src: url('../fonts/dinroundpro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinroundpro-light.woff') format('woff'),
         url('../fonts/dinroundpro-light') format('truetype'),
         url('../fonts/dinroundpro-light.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'din-round';
    src: url('../fonts/dinroundpro-medium.eot');
    src: url('../fonts/dinroundpro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinroundpro-medium.woff') format('woff'),
         url('../fonts/dinroundpro-medium') format('truetype'),
         url('../fonts/dinroundpro-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-round';
    src: url('../fonts/dinroundpro-bold.eot');
    src: url('../fonts/dinroundpro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinroundpro-bold.woff') format('woff'),
         url('../fonts/dinroundpro-bold') format('truetype'),
         url('../fonts/dinroundpro-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
	font-size: 24px;
}

body {
	background: #BAF4FF;
	font-family: "futura-round", futura, sans;
	margin: 0;
	padding: 0;
}

.presents h1 {
	font-size: 160px;
	line-height: 1;
	color: #D9391C;
	text-align: center;
	letter-spacing: 5px;
}

.presents span {
	letter-spacing: 20px;
}

.presents p {
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
	color: #D9391C;
	letter-spacing: 5px;
}

.presents {	
	position: relative;
	z-index: 1;
	background: #FF6347;
	display: block;
	border-radius: 50%;
	width: 800px;
	height: 800px;
	padding: 100px;
	margin: 200px 0 0 -50px;
	text-transform: uppercase;
}

.ball {
	position: fixed;
	top: -200px;
	left: 60%;
	width: 200px;
	height: 200px;
	background: #FFA494;
	border-radius: 50%;
}

.bounce {
	-webkit-animation: bounce 0.2s normal forwards;
}

@-webkit-keyframes bounce {
  0%, 100%   { height: 200px; width: 200px; margin-left: 0; }
  50% 		 { height: 160px; width: 240px; margin-left: -20px;}
}

.title	{
	width: 50%;
	margin: -400px auto 300px auto;
	text-transform: uppercase;
}

.title h1 {
	font-size: 80px;
	text-align: left;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

.title h2 {
	font-size: 40px;
	text-align: left;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 0;
	padding: 0 0 120px 0;
}

.title	h2 span {
	color: #fff;
}

.title h3 {
	font-size: 20px;
	text-align: center;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 200px 0 0 0;
	padding: 0;
}

.lesson {
	background: #fff;
	height: 1000px;
	font-family: "din-round", sans-serif;
	color: #999;
}

.lesson h1 {
	font-weight: lighter;
	color: #666;
	margin: 0;
	padding: 0;
}

.lesson p {
	font-weight: lighter;
	color: #666;
}

.question {
	padding-top: 60px;
}

.question-badge {
	width: 100%;
	opacity: 0;
}

.question-pop {
	-webkit-animation: question-pop-in 0.5s normal forwards;
}

@-webkit-keyframes question-pop-in {
  0%   { transform: scale(0.5); }
  10%  { transform: scale(1.2); }
  100% { transform: scale(1);   }
}




