/*
	COLORS http://www.99colors.net/name/tomato 
*/

@font-face {
    font-family: 'futura-round';
    src: url('futura-round-webfont.eot');
    src: url('futura-round-webfont.eot?#iefix') format('embedded-opentype'),
         url('futura-round-webfont.woff2') format('woff2'),
         url('futura-round-webfont.woff') format('woff'),
         url('futura-round-webfont.ttf') format('truetype'),
         url('futura-round-webfont.svg#a_futuraroundbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #BAF4FF;
	font-family: "futura-round", futura, sans;
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
}

.presents h1 {
	font-size: 160px;
	line-height: 1;
	color: #D9391C;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 200px;
}

.presents span {
	letter-spacing: 20px;
}

.presents p {
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
	color: #D9391C;
	letter-spacing: 5px;
}

.presents {	
	background: #FF6347;
	display: block;
	border-radius: 50%;
	width: 800px;
	height: 800px;
	padding: 100px;
	margin: 200px 0 0 -50px;
}

.ball {
	position: fixed;
	top: -200px;
	left: 60%;
	width: 200px;
	height: 200px;
	background: #FFA494;
	border-radius: 50%;
}

.bounce {
	-webkit-animation: bounce 0.2s normal forwards;
}

@-webkit-keyframes bounce {
  0%, 100%   { height: 200px; width: 200px; margin-left: 0; }
  50% 		 { height: 160px; width: 240px; margin-left: -20px;}
}

.title	{
	width: 50%;
	margin: -400px auto 300px auto;
}

.title h1 {
	font-size: 80px;
	text-align: left;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

.title h2 {
	font-size: 40px;
	text-align: left;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 0;
	padding: 0 0 120px 0;
}

.title	h2 span {
	color: #fff;
}

.title h3 {
	font-size: 20px;
	text-align: center;
	color: #47E3FF;
	letter-spacing: 5px;
	margin: 200px 0 0 0;
	padding: 0;
}

.lesson {
	width: 100%;
	background: #fff;
	padding: 40px 0;
	height: 500px;
}






